.apps {
  background: @background-color_pictures-list;
  padding-top: 42px;
  padding-bottom: 54px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: none;
}

.app {
  display: flex;
  flex-direction: column-reverse;
  color: @midnight;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.emotions {
  border: none;
  text-align: center;
  padding-left: 22px;
  padding-right: 22px;
}

.emotions__legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @red;
}

.emotions__textarea {
  font-family: inherit;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @midnight;
}
