.checkboxes__wrapper {
  background: @background-color_pictures-list;
}

.checkboxes {
  width: 280px;
  margin: 0 auto;
  padding-top: 42px;
  border: none;
}

.checkboxes__label--wrapper {
  display: flex;
  flex-direction: column;
}

.checkboxes__legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @red;
  text-transform: uppercase;
  width: 230px;
  text-align: center;
  margin-top: 42px;
}

.checkboxes__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @midnight;
}

@media (min-width: @tablet-width) {
  .checkboxes__wrapper {
    background: none;
    order: 4;
    grid-area: black;
    margin-top: 65px;
  }

  .checkboxes {
    width: 616px;
    border: 2px solid @color-border-grey;
  }

  .checkboxes__legend {
    width: 400px;
  }
}

@media (min-width: @desktop-width) {
  .checkboxes {
    width: 936px;
  }

  .checkboxes__label--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
