.connection {
  position: relative;
  z-index: 10;
}

.connection__introduction {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: @midnight;
  margin-top: 42px;
}

.connection__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

.connection__links-item {
  margin-bottom: 6px;
}

.connection__link-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: @midnight;
  text-align: center;
  margin: 11px 0 0;
}

.connection__link-info {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @red;
  text-decoration: none;
  text-align: center;
  margin: 0;
}

.connection__link-info:hover {
  text-decoration-line: underline;
  color: #283645;
}

.connection__link-info:active {
  text-decoration-line: none;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .connection__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 620px;
    margin: 0 auto;
  }

  .connection__link-name {
    margin-bottom: 3px;
  }

  .connection__introduction {
    font-size: 40px;
    line-height: 54px;
    margin-top: 44px;
    margin-bottom: 22px;
  }

  .connection__links-item {
    width: 50%;
  }

  .connection__links-item:last-child {
    margin-top: 25px;
  }
}

@media (min-width: @desktop-width) {
  .connection {
    max-width: 920px;
    margin: 0 auto;
  }

  .connection__introduction {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 4px;
    margin-top: 57px;
  }

  .connection__links {
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 50px;
  }

  .connection__links-item {
    width: 33%;
  }

  .connection__links-item:nth-child(2) {
    order: 2;
  }
}
