.copyright {
  margin-top: 60px;
}

.copyright__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @midnight;
}

.copyright__img:hover {
  fill: @midnight;
}

.copyright__img:active {
  fill: fade(@midnight, 30%);
}

@media (min-width: @tablet-width) {
  .copyright {
    margin-top: 0;
  }
}
