.downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloads__main-link {
  color: @color-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid @color-white;
  border-radius: 29px;
  text-decoration: none;
  margin-top: 20px;
}

.downloads__items {
  list-style: none;
}

.downloads__items a {
  color: @color-white;
  text-decoration: none;
}

.downloads__text {
  color: @color-white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: @tablet-width) {
  .downloads__main-link {
    z-index: 10;
  }
  .downloads__text {
    z-index: 10;
  }
}
