.downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloads__items {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.downloads__main-link {
  color: @color-white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid @color-white;
  border-radius: 29px;
  width: 274px;
  display: flex;
  justify-content: center;
  padding-top: 21px;
  padding-bottom: 21px;
  text-decoration: none;
}

.downloads__items a {
  color: @color-white;
  text-decoration: none;
}

.downloads__text {
  color: @color-white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .downloads__text {
    margin-left: 40px;
    z-index: 10;
  }

  .downloads__main-link {
    width: 294px;
    z-index: 10;
  }
}
