.emotions {
  border: none;
  text-align: center;
  padding-left: 22px;
  padding-right: 22px;
}

.emotions__border {
  margin-top: 35px;
}

.emotions__legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @red;
}

.emotions__textarea {
  font-family: inherit;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @midnight;
  margin-top: 15px;
  padding-top: 14px;
  padding-left: 19px;
}

@media (min-width: @tablet-width) {
  .emotions {
    order: 5;
    grid-area: emotions;
  }

  .emotions__border {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid @color-border-grey;
    border-radius: 1px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 46px;
    margin-top: 66px;
  }

  .emotions__legend {
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: @color-white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .emotions__textarea {
    margin-top: 27px;
  }
}

@media (min-width: @desktop-width) {
  .emotions {
    padding-left: 10px;
    padding-right: 10px;
  }

  .emotions__textarea {
    height: 125px;
  }

  .emotions__border {
    padding-bottom: 42px;
  }
}
