.hero {
  background-color: @background-color_hero-block;
  min-height: 462px;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 320px;

  @media (min-width: @tablet-width) {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    max-width: 920px;
  }
}

.hero__promotion {
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    background: none;
  }
}

.hero__links-text {
  color: @color-white;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin-bottom: 34px;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    margin-top: 120px;
    margin-left: 80px;
  }
}

.hero__img {
  @media (min-width: @tablet-width) {
    position: absolute;
    right: 40px;
    bottom: -40px;
  }

  @media (min-width: @desktop-width) {
    bottom: -27px;
  }
}
