.hero {
  background-color: @background-color_hero-block;
  min-height: 462px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }
}

.hero__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 22px;
}

.hero__links-text {
  color: @color-white;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 34px;
  margin-top: 0;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .hero__general-wrapper {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__wrapper {
    max-width: 620px;
    display: flex;
    margin: 0;
    position: relative;
  }

  .hero__links-text {
    font-size: 40px;
    line-height: 48px;
    margin-top: 71px;
    margin-left: 47px;
    width: 247px;
    position: relative;
  }

  .hero__img {
    position: absolute;
    right: 0;
    top: 73px;
  }
}

@media (min-width: @desktop-width) {
  .hero__general-wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__wrapper {
    max-width: 920px;
  }

  .hero__links-text {
    font-size: 50px;
    line-height: 68px;
    margin-top: 187px;
    margin-left: 37px;
  }

  .hero {
    margin-top: -109px;
    background-position: 0 -450px;
  }

  .hero__img {
    position: absolute;
    right: -19px;
    top: 208px;
  }
}
