.hero {
  background-color: @background-color_hero-block;
  min-height: 462px;
}

.hero__promotion {
  background: url("../img/back-mobile.png");
  background-size: cover;
  padding-top: 29px;
}

.hero__links-text {
  color: @color-white;
  font-weight: 300;
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
  margin: 0;
}
