.information__promo p {
  color: @midnight;
  font-weight: 300;
  font-size: 28px;
  line-height: 28.8px;
  text-align: center;
}

.information__advantages {
  list-style: none;
  padding-left: 0;
  background-color: @background-color_pictures-list;
  padding-bottom: 350px;
  margin: 0;
}

.information__advantages-item h3 {
  color: @color-black;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.information__advantages-item p {
  color: @midnight;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: @tablet-width) {
  .information__advantages {
    padding-bottom: 0;
    padding-left: 350px;
  }
}

@media (min-width: @desktop-width) {
  .information__advantages {
    padding-left: 0;
    display: flex;
    flex-direction: row;
  }
}
