.information__promo p {
  color: @background-color_main-nav;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 28.8px;
  text-align: center;
}

.information__advantages {
  list-style: none;
  padding-left: 0;
  background-color: @background-color_pictures-list;
  padding-bottom: 350px;
}

.information__advantages-item h3 {
  color: @color-black;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.information__advantages-item p {
  color: @background-color_main-nav;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
