@media (min-width: @tablet-width) {
  .logo__image {
    display: block;
    width: 145px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .logo__image {
    width: 147px;
    height: 40px;
  }
}
