.main-nav__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding-left: 173px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}
