.page-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
