.page-main__image {
  background-image: url("../img/back-mobile-form.jpg");
  padding-top: 96px;
  min-height: 238px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: @background-color_hero-block;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile-form@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    min-height: 440px;
    padding-top: 176px;
    background-image: url("../img/back-tablet-form.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet-form@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 394px;
    padding-top: 169px;
    background-size: auto;
    background-position: center;
    background-image: url("../img/back-desktop-form.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop-form@2x.jpg");
    }
  }
}

.page-main__wrapper {
  width: 228px;
  margin: 0 auto;
}

.page-main__header {
  color: @color-white;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-main__wrapper {
    width: 620px;
  }

  .page-main__header {
    font-size: 50px;
    line-height: 68.09px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    margin-top: -109px;
  }

  .page-main__image {
    min-height: 394px;
    padding-top: 168px;
  }

  .page-main__wrapper {
    width: 747px;
  }
}
