.page-header {
  background-color: @midnight;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
}


@media (min-width: @desktop-width) {
  .page-header {
    display: grid;
    grid-template-columns: 25% 75%;
  }
}
