.page-main__image {
  background: url("../img/back-mobile.jpg");
  background-size: cover;
  padding-top: 27px;
  min-height: 170px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }
}

.page-main__wrapper {
  width: 228px;
  margin: 0 auto;
}

.page-main__header {
  color: @color-white;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-main__image {
    min-height: 329px;
    padding-top: 66px;
  }

  .page-main__wrapper {
    width: 620px;
  }

  .page-main__header {
    font-size: 50px;
    line-height: 68.09px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    margin-top: -109px;
  }

  .page-main__image {
    min-height: 394px;
    padding-top: 169px;
  }

  .page-main__wrapper {
    width: 747px;
  }
}
