.page-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 42px;
  padding-bottom: 44px;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer__image--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-top: 53px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .page-footer__image {
    width: 147px;
  }

  .page-footer__image--tablet {
    display: none;
  }

  .page-footer__image--desktop {
    display: block;
  }
}
