.pictures__slogan {
  color: @midnight;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  background-color: white;
  min-height: 70px;
  width: 250px;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.pictures__list {
 list-style: none;
 padding-left: 0;
}

.pictures__item {
  background-color: @background-color_pictures-list;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.pictures__author-info {
  padding-left: 17px;
  padding-bottom: 26px;
  padding-top: 25px;
}

.pictures__author-name {
  color: @midnight;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.pictures__time-post {
  color: @midnight;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.pictures__text {
  color: @midnight;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
