.picture_maker {
  padding-top: 43px;
}

.picture-maker__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @midnight;
  margin: 0;
}

.picture-maker__tool {
  background-color: @background-color_pictures-list;
  max-width: 940px;
  margin: 85px auto 0;
  position: relative;
}

.picture-maker__tool::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: fade(@midnight, 10%);
  bottom: 202px;
}

.picture-maker__wrapper {
  padding-top: 20px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.picture-maker__picture {
  margin-left: 20px;
}

.picture-maker__slidecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 43px;
}

.picture-maker__toggle--active {
  width: 44px;
  height: 44px;
  background-image: url("../img/crop.svg");
  border: none;
  background-color: @background-color_pictures-list;
  margin-left: 17px;
  outline: none;
}

.picture-maker__toggle:nth-of-type(2) {
  width: 48px;
  height: 43px;
  background-image: url("../img/fill.svg");
  border: none;
  background-color: @background-color_pictures-list;
  margin-left: 5px;
  outline: none;
}

.picture-maker__toggle:nth-of-type(3) {
  width: 32px;
  height: 32px;
  background-image: url("../img/contrast.svg");
  border: none;
  background-color: @background-color_pictures-list;
  outline: none;
}

.picture-maker__slider {
  appearance: none;
  outline: none;
  width: 240px;
  height: 2px;
  background: @midnight;
  margin-bottom: 34px;
}

.picture-maker__slider:nth-of-type(1),
.picture-maker__slider:nth-of-type(2) {
  display: none;
}

.picture-maker__slider:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: 4;
}

.picture-maker__slider::-webkit-slider-thumb {
  appearance: none;
  cursor: pointer;
  width: 14px;
  height: 14px;
  background: @color-white;
  border: 2px solid @red;
  border-radius: 10px;
}

.picture-maker__slider:focus::-webkit-slider-thumb {
  background: @red;
}

.picture-maker__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
}

.picture-maker__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  width: 280px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 15px;
}

.picture-maker__button-submit {
  color: @color-button;
  border: 3px solid @color-button;
  margin-bottom: 12px;
  margin-top: 0;
}

.picture-maker__button-submit:hover {
  color: @color-white;
  background-color: @red;
}

.picture-maker__button-submit:active {
  color: fade(@color-white, 30%);
}

.picture-maker__button-cancel {
  color: fade(@midnight, 10%);
  border: 3px solid fade(@midnight, 10%);
  margin-bottom: 41px;
}

.picture-maker__button-cancel:hover {
  color: fade(@midnight, 30%);
  border-color: fade(@midnight, 30%);
}

.picture-maker__button-cancel:active {
  color: fade(@color-white, 30%);
  background-color: fade(@midnight, 30%);
}

@media (min-width: @tablet-width) {
  .picture-maker__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    width: 660px;
  }

  .picture-maker__name {
    font-size: 18px;
    line-height: 30px;
  }

  .picture-maker__tool {
    margin-top: 70px;
  }

  .picture-maker__tool::after {
    display: none;
  }

  .picture-maker__picture {
    width: 300px;
    height: 400px;
  }

  .picture-maker__filter {
    width: 300px;
    margin-right: 20px;
  }

  .picture-maker__slidecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 0;
    padding-top: 14px;
    padding-right: 16px;
  }

  .picture-maker__slider {
    width: 202px;
  }

  .picture-maker__slider:nth-of-type(1),
  .picture-maker__slider:nth-of-type(2) {
    display: block;
    margin-bottom: 39px;
  }

  .picture-maker__slider:nth-of-type(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: -1px;
    margin-bottom: 0;
  }

  .picture-maker__toggle--active {
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    margin-left: 29px;
    margin-top: -7px;
  }

  .picture-maker__toggle:nth-of-type(2) {
    width: 24px;
    height: 22px;
    background-size: 24px 22px;
    background-repeat: no-repeat;
    margin-left: 28px;
    margin-top: -7px;
  }

  .picture-maker__toggle:nth-of-type(3) {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    margin-left: 32px;
    margin-top: -7px;
  }

  .picture-maker__buttons {
    margin-top: 94px;
    margin-bottom: 14px;
    margin-left: 15px;
  }

  .picture-maker__button {
    width: 260px;
  }

  .picture-maker__button-submit {
    margin-bottom: 24px;
  }
}

@media (min-width: @desktop-width) {
  .picture-maker__wrapper {
    width: 940px;
    justify-content: space-around;
  }

  .picture-maker__picture {
    margin-left: 27px;
  }

  .picture-maker__slider {
    width: 288px;
  }

  .picture-maker__filter {
    width: 410px;
    margin-right: 25px;
  }

  .picture-maker__toggle--active {
    width: 44px;
    height: 44px;
    background-size: 44px 44px;
    margin-left: 10px;
    margin-top: -19px;
  }

  .picture-maker__toggle:nth-of-type(2) {
    width: 48px;
    height: 43px;
    background-size: 48px 43px;
    margin-left: 10px;
    margin-top: -19px;
  }

  .picture-maker__toggle:nth-of-type(3) {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    margin-left: 15px;
    margin-top: -19px;
  }

  .picture-maker__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 169px;
    margin-bottom: 57px;
  }

  .picture-maker__button {
    margin: 0;
    width: 183px;
  }
}
