.pictures__wrapper {
  width: 280px;
  margin: 0 auto;
}

.pictures__list--wrapper {
  width: 320px;
  margin: 0 auto;
}

.pictures__slogan {
  color: @midnight;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 44px auto 50px;
  padding-left: 14px;
  padding-right: 14px;
}

.pictures__list {
  list-style: none;
  padding-left: 0;
}

.pictures__item {
  background-color: @background-color_pictures-list;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.pictures__item:last-of-type {
  margin-bottom: 0;
}

.pictures__main-image {
  margin-left: -20px;
}

.pictures__author-info {
  padding: 13px 10px 18px 17px;
}

.pictures__author-name {
  color: @midnight;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.pictures__time-post {
  color: @midnight;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.pictures__text {
  color: @midnight;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 10px;
}

.pictures__heart {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @red;
  display: inline-block;
  margin-left: 14px;
}

.pictures__button {
  width: 13px;
  height: 12px;
  background-image: url("../img/heart.svg");
  border: none;
}

@media (min-width: @tablet-width) {
  .pictures__wrapper {
    width: 620px;
  }

  .pictures__list--wrapper {
    width: 620px;
  }

  .pictures__slogan {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 85px;
    margin-top: 100px;
  }

  .pictures__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .pictures__item {
    margin: 0;
  }

  .pictures__item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .pictures__main-image {
    width: 660px;
    height: 509px;
  }

  .pictures__author-image {
    width: 300px;
  }
}
@media (min-width: @desktop-width) {
  .pictures__wrapper {
    width: 572px;
  }

  .pictures__list--wrapper {
    width: 940px;
  }

  .pictures__slogan {
    font-size: 18px;
    margin-bottom: 97px;
    margin-top: 100px;
    padding: 0;
  }

  .pictures__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .pictures__item:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .pictures__main-image {
    width: 960px;
    height: 509px;
    margin-left: -10px;
  }
}
