.prices {
  background-color: @background-color_pictures-list;
  padding-top: 137px;
}

@media (max-width: @mobile-width-only) {
  .prices {
    overflow: hidden;
  }
  .first-column {
    display: none;
  }

}

.prices__wrapper {
  padding-bottom: 90px;
  margin: auto;
}

.prices__table {
  width: 840px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
}

.prices__table td {
  border: 2px solid #e5e5e5;
}

.prices__empty-cell {
  background-color: @background-color_pictures-list;
}

.prices__black-cell {
  width: 280px;
  background: @midnight;
  border: 2px solid @midnight;
  text-align: center;
}

.prices__white-cell {
  width: 280px;
  background: @color-white;
  border: 2px solid @color-border-grey;
}

.prices__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-white;
  margin: 0;
}

.prices__cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-white;
  margin: 0;
}

.prices__row th {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @midnight;
}

.prices__row:first-of-type th {
  border-radius: 10px 0 0 0;
}

.prices__row:nth-child(3) th {
  border-radius: 0 0 0 10px;
}

.prices__row:nth-child(3) td:nth-child(4) {
  border-radius: 0 0 10px 0;
}

.prices__row .prices__black-cell:nth-child(2) {
  border-radius: 10px 0 0 0;
}

.prices__row .prices__black-cell:nth-child(4) {
  border-radius: 0 10px 0 0;
}

.prices__toggles {
  margin: 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .prices__table {
    width: 616px;
  }
}

@media (min-width: @desktop-width) {
  .prices__table {
    width: 940px;
  }
}
