.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: @color-black;
}

.reviews__author-age {
  display: none;
}

.reviews__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @midnight;
}
