.site-list {
  list-style: none;
  padding: 0;

  @media (min-width: @desktop-width) {
    width: 620px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.site-list__item a {
  display: block;
  color: @color-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 16px;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid @color-black;

  @media (min-width: @desktop-width) {
    text-transform: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    border: none;
  }
}

.site-list__item a:hover {
  color: @red;
}

.site-list__item a:active {
  opacity: 0.3;
}

@media (min-width: @desktop-width) {
  .site-list__item a:active {
    color: @color-white;
    opacity: 0.3;
  }

  .site-list__item a:focus {
    border-bottom: 2px solid @color-white;
  }

  .site-list__item--active {
    border-bottom: 2px solid @color-white;
  }
}
