.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__item a {
  text-transform: uppercase;
  color: @color-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
}

@media (min-width: @desktop-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
