.social {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 34px;
  padding-left: 0;
}

.social__link {
  display: flex;
  width: 54px;
  height: 54px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 3px solid fade(@midnight, 10%);
  border-radius: 27px;
}

.social__link--facebook {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.social__link--facebook::before {
  content: "";
  position: relative;
  width: 9px;
  height: 18px;
  background-image: url("../img/facebook.svg");
}

.social__link--youtube::before {
  content: "";
  position: relative;
  width: 15px;
  height: 13px;
  background-image: url("../img/youtube.svg");
}

.social__link--twitter::before {
  content: "";
  position: relative;
  width: 18px;
  height: 14px;
  background-image: url("../img/twitter.svg");
}

.social__link--facebook:hover,
.social__link--twitter:hover,
.social__link--youtube:hover {
  border-color: @midnight;
}

.social__link--facebook:active,
.social__link--twitter:active,
.social__link--youtube:active {
  border-color: fade(@midnight, 10%);
  opacity: 30%;
}

@media (min-width: @tablet-width) {
  .social {
    width: 250px;
    margin-top: 13px;
    margin-left: -13px;
  }
}

@media (min-width: @desktop-width) {
  .social {
    margin-left: 12px;
  }
}
