.text-fields {
  display: flex;
  flex-direction: column;
  border: none;
}

.text-fields__label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @red;
}
