.text-fields {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.text-fields__label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @red;
}

.text-fields__legend {
  display: none;
}

@media (min-width: @tablet-width) {
  .text-fields--border {
    border: 2px solid @color-border-grey;
    border-radius: 1px;
  }

  .text-fields__legend {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: @red;
  }
}

@media (min-width: @desktop-width) {
  .text-fields--border {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
