.text-field__input {
  border: 2px solid @color-border-grey;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  color: @midnight;
  margin-top: 6px;
  margin-bottom: 18px;
  padding: 14px 20px 13px;
}

@media (min-width: @tablet-width) {
  .text-field {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .text-field__input {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 54px;
    margin-left: 20px;
    width: 100%;
  }

  .text-fields--border .text-field {
    display: flex;
    flex-direction: column;
  }

  .text-fields--border .text-field:last-child {
    margin-bottom: 26px;
  }

  .text-fields--border .text-field__input {
    order: -1;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 12px;
  }
}
