.text-field__input {
  border: 2px solid @color-border-grey;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  color: @midnight;
  margin-top: 17px;
  margin-bottom: 29px;
}


@media (min-width: @tablet-width) {
  .text-field {
    display: flex;
    flex-direction: row;
  }

  .text-field__input {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 56px;
    margin-left: 20px;
  }
}
