@midnight: #283645;
@background-color_hero-block: #1D2631;
@background-color_pictures-list: #f2f2f2;
@color-white: #FFFFFF;
@color-black: #000000;
@color-heart-red: #D22856;
@background-button: #2AAB6D;
@color-button: #D22856;
@color-border-grey: #E5E5E5;
@red: #d22856;
@green: #2AAB6D;

@tablet-width: 660px;
@desktop-width: 1200px;
@mobile-width-only: 659px;
